body {
  overflow-x: hidden; /* Hide scrollbars */
  background-image: url("/src/img/bgImg.jpg");
  background-repeat: repeat;
  font-family: "Lucida Console","Monospace";
}
}

/* map container */
.leaflet-container {
  height: 80vh;
  z-index: 1;
}

/* locations table */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.dataTables_filter input[type="search"] {
  background-color: white;
}


.event-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
  
.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(15, 80, 110);
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #1f46f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1f46f0;
}

.event-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}

li span {
  margin-bottom: 10px;
}

li button {
  margin-top: 10px;
  display: inline-block;
  margin-right: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(15, 80, 110);
  border-radius: 4px;
}

input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(15, 80, 110);
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  background-color: #1f46f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4215d6;
}

.topnav {
  background-color: rgb(49, 35, 35);
  overflow: hidden;
}

h2 {
  text-align: center;
}

#login {
  float: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
}

#login .center {
  text-align: center;
}

#login .login {
  max-width: 300px;
  margin: 35px auto;
}

#login .login-form{
  padding:0px 25px;
}

.evet-list {
  overflow: auto;
  height: 70vh; 
  max-height: 2000px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 70vw;
  height: auto;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  padding-left: 30px;
}

.event-list h2 {
  text-align: center;
}

.evet-list li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px; 
  width: 1100px;
  height: auto;
  
}

.list-group {
  list-style: none;
  padding-left: 0;
  display: inline-block;
  text-align: left;
}

.list-group li {
  margin-bottom: 10px;
}

.list-group li span {
  display: block;
}

.list-group li input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.list-group li button {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.list-group li button:hover {
  background-color: #0056b3;
}
